<%- include('partials/header') %>
    <h1>About</h1>
    <div class="aboutSection">
        <div class="writings">
            <p>
                Hi, My Name is Amish Kumar Singh. I am Currently Pursuing B-Tech from Techno India Univeristy. I am Currently in my 3rd of Study. This is Web Blog app made by me to practice my Web Development concept.
                This app has been made using HTML, CSS, Bootstrap, Javascript, NodeJs, ExpressJs, MongoDB and EJS. You Can put your Blogs on different topics and compose your blog here. Use this app and if having any inconvenience
                or any suggestion you can contact me.
            </p>
            <a href="/contact"><button class="aboutButton btn btn-success writings">Contact Us</button></a>
        </div>
        
        <img class="about-img" src="images/aboutus.jpg">
    </div>
<%- include('partials/footer') %>  